In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
main_dir = "competitive-data-science-predict-future-sales"

In [18]:
# Sales train file
df = pd.read_csv(f"{main_dir}/sales_train.csv")
df

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

In [39]:
def get_month(i):
    i = i.split('.')
    okj = f"{i[-1]}.{i[1]}"
    return okj

In [40]:
df["month"] = df["date"].apply(get_month)
df

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,month
0,02.01.2013,0,59,22154,999.00,1.0,2013.01
1,03.01.2013,0,25,2552,899.00,1.0,2013.01
2,05.01.2013,0,25,2552,899.00,-1.0,2013.01
3,06.01.2013,0,25,2554,1709.05,1.0,2013.01
4,15.01.2013,0,25,2555,1099.00,1.0,2013.01
...,...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0,2015.10
2935845,09.10.2015,33,25,7460,299.00,1.0,2015.10
2935846,14.10.2015,33,25,7459,349.00,1.0,2015.10
2935847,22.10.2015,33,25,7440,299.00,1.0,2015.10
2935848,03.10.2015,33,25,7460,299.00,1.0,2015.10

In [71]:
dfz = pd.DataFrame()
dfz['item_id'] = df.item_id
dfz['shop_id'] = df.shop_id
dfz['month'] = df.month
dfz['item_cnt_day'] = df.item_cnt_day
dfz

         item_id  shop_id    month  item_cnt_day
0          22154       59  2013.01           1.0
1           2552       25  2013.01           1.0
2           2552       25  2013.01          -1.0
3           2554       25  2013.01           1.0
4           2555       25  2013.01           1.0
...          ...      ...      ...           ...
2935844     7409       25  2015.10           1.0
2935845     7460       25  2015.10           1.0
2935846     7459       25  2015.10           1.0
2935847     7440       25  2015.10           1.0
2935848     7460       25  2015.10           1.0

[2935849 rows x 4 columns]

In [69]:
dfz.describe()

            item_id       shop_id  item_cnt_day
count  2.935849e+06  2.935849e+06  2.935849e+06
mean   1.019723e+04  3.300173e+01  1.242641e+00
std    6.324297e+03  1.622697e+01  2.618834e+00
min    0.000000e+00  0.000000e+00 -2.200000e+01
25%    4.476000e+03  2.200000e+01  1.000000e+00
50%    9.343000e+03  3.100000e+01  1.000000e+00
75%    1.568400e+04  4.700000e+01  1.000000e+00
max    2.216900e+04  5.900000e+01  2.169000e+03

In [68]:
kk = dfz.value_counts().sort_values(by=['month']).sort_index()
kk

TypeError: sort_values() got an unexpected keyword argument 'by'

In [51]:
ahh = df.value_counts()
ahh

date        date_block_num  shop_id  item_id  item_price  item_cnt_day  month
01.01.2013  0               2        991      99.0        1.0           2013.01    1
                                     1472     2599.0      1.0           2013.01    1
                                     1905     249.0       1.0           2013.01    1
                                     2920     599.0       2.0           2013.01    1
                                     3320     1999.0      1.0           2013.01    1
                                                                                  ..
31.12.2014  23              59       20404    2399.0      1.0           2014.12    1
                                     20610    1099.0      1.0           2014.12    1
                                     20949    5.0         5.0           2014.12    1
                                     21762    1499.0      1.0           2014.12    1
                                     22087    99.0        1.0           2014.12    1
Length: 2935843, dtype: int64

In [4]:
oo = df.value_counts("shop_id").sort_index()
oo

shop_id
0       9857
1       5678
2      25991
3      25532
4      38242
5      38179
6      82663
7      58076
8       3412
9       3751
10     21397
11       499
12     34694
13     17824
14     36979
15     59511
16     52734
17     22950
18     53227
19     63911
20      1792
21     58133
22     45434
23      6963
24     53032
25    186104
26     53910
27    105366
28    142234
29     49225
30     50860
31    235636
32      7947
33      5027
34      5752
35     58445
36       306
37     39638
38     46013
39     13440
40      4257
41     41967
42    109253
43     39282
44     39530
45     35891
46     66321
47     56695
48     21612
49     15849
50     65173
51     44433
52     43502
53     52921
54    143480
55     34769
56     69573
57    117428
58     71441
59     42108
dtype: int64

In [14]:
mm = pd.DataFrame(df.value_counts("item_id").sort_index())
mm["num_of_items"] = mm
mm = mm.drop([mm[0].name], axis=1)
mm

         num_of_items
item_id
0                   1
1                   6
2                   2
3                   2
4                   1
...               ...
22165               2
22166             270
22167            1114
22168               6
22169               1

[21807 rows x 1 columns]

In [15]:
# Test file
df = pd.read_csv(f"{main_dir}/test.csv")
df

            ID  shop_id  item_id
0            0        5     5037
1            1        5     5320
2            2        5     5233
3            3        5     5232
4            4        5     5268
...        ...      ...      ...
214195  214195       45    18454
214196  214196       45    16188
214197  214197       45    15757
214198  214198       45    19648
214199  214199       45      969

[214200 rows x 3 columns]